.outterPopUp{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  }
.content{
  color: rgb(255, 255, 255);
  padding: 25px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  }
  .img{
    width: 160px;
    height: 160px;
    background-size: cover;
    border-radius: 50%;
  }

  .innerPopUp{
    padding-top: 25px;
    width: 35vw;
    height: 40vh;
    background-color: rgba(89, 86, 86, 0.537);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    
    }
    audio{
      opacity: 0.65;
    }
    audio:hover{
      opacity: 1;
    }
    .close:hover{
      opacity: 1;
    }
    .close{
      opacity: 0.6;
      font-size: 1.2em;
 position: absolute;
 color: red;
 cursor: pointer;
 width: 30px;
 right: 35vw;
 height: 30px;
 background-color: #fff;
 border-radius: 15px;

    }
@media screen and (max-width: 992px) {

    .innerPopUp{
    width: 85vw;
    height: 40vh;
    }
   .close{
width: 30px;
height: 30px;
background-color: #fff;
border-radius: 15px;
right: 15vw;
   }
}
